/*
 * Styles for static content.
 */


h1, h2, h3 {
    color: #333333;
}

#diamashup div {
  position: absolute;
  top: 75px;
  width: 58px;
  height: 80px;
  border: 2px solid #f0a;
  display: none;
}


#diatext {
  position: relative;
  width: 100%;
  height: 200px;
  border: 1px solid #a9f;
  overflow: hidden;
}

#diatext div {
  position: absolute;
  display: none;
}

#diatext pre {
  padding-left: 5px;
}

.diactrlright {
  right: 0;
  width: 6em;
  text-align: right;
  display:block !important;
}

.treeitem {
  border: 1px solid #a9f;
  color: #a9f;
  cursor: pointer;
  cursor: hand;
}
.treeitem span {
  color: #a9f;
}
